# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist/client
/public/p/*.*
/public/*.*
/tmp
/out-tsc
/dist
/node_modules
/platforms
/plugins

# dependencies
/node_modules
//node_modules
/package-lock.json
/archive
/archive/*

# IDEs and editors
*.log
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


# IDE - VSCode
# /.vscode
# .vscode/*
.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
!storage
/storage/*



# System Files
.DS_Store
Thumbs.db
